
body{
    margin:0;
    font-family: 'Poppins',sans-serif;
    margin-bottom: 0px;
   
}
.header{
height: 150px;
width: 100%;


}
.logo{
  height: 150px;
  width: 30%;
  /* background-color: #eb3477; */
  float: left;

   
}
.menu-bar{
    height: 150px;
    width: 100%;
    background-color:#fff;
    float: left;
}
/*.logo-style{
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    font-style: italic;
}*/
.unorderedmenu_list1{
  list-style: none;
  display: flex;
  padding-top: 59px;
  padding-left: 35px;
  flex-direction: row;
  justify-content: space-evenly;

}
.phone-number-color
{
    color: black;
}
.unordered-phone-header-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0px;
  padding-left: 17px;

}
.upper-header-phone{
  height: 32%;
  width: 68%;
  background-color: #a85050;
  /* padding-left: 55px; */
  float: right;
  border-radius: 0px 0px 45px 45px;
}

.header-phone-italic{
    padding-left: 61px;
    padding-top: 10px;
}
.fa-changed-in-phone-alignment{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


.menubar-decoration{
    color: gray;
    padding: 5px;
    font-size: 17px;
    border: none;
    text-decoration: none;

}

.header-phone-decoration{
   text-decoration: none; 
}
.socialmedia-color{
   color: #094c90; 
}
.social{
   text-decoration: none;
}
.menu-link
{
    color: gray;
}
.list-decoration{
    font-size: 20px;
}
.list-decoration:hover{
background-color: #cb8484;
}

  
  .imagesize
  { height: 100%;
    width: 80%;
    padding-left: 1px;
    
}


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
  
  .dropdown:hover .dropbtn {
    background-color: #eb3477;
}
  .main-container
  {
    height: 800px;
    width: 100%;
    background-image:url(images/CHECK-UP-main.webp);
    background-size: cover;
  }
  .footer-container{
    height: 50px;
    width: 100%;
    background-color:#ab4646 ;

  }
  .first-main-div{
    background-color:transparent;
    width: 32%;
    text-align: center;
    padding: 11px;
    height: 604px;
    margin-left: 2em;
   
}

/*.second-main-div{
    width: 25%;
    height: 800px;
    background-color: #aa0944;
    float: right;

  }*/
  .book-online-table{
    background-color:#ffffff82;
    width: 96%;
    text-align: center;
    padding: 2px;
    margin: 0 auto;
    height: 600px;
  }
  .book-online-table label {
    text-align: left;
  }
  #p{
    
    font-size: 31px;
    height: 100px;
    width: 500px;
  }
  #footer-copyright{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
  }

.consult-online{
    text-decoration: none;
    font-size: 18px;
    line-height: 28px;
    color: black;
    /*background-color: #de8789;*/
}
.button {
    
    top:50%;
    background-color:#a85050;
    /*color: #fff;*/
    border:none;
    border-radius:10px;
  }
  .checking{
    height: 500px;
    width: 100%;
    background-color:rgb(101, 16, 16);
  }
  .border-radius{
    border-radius: 18px 18px 18px 18px;
    box-sizing: border-box;
  }
  div.c {
    position: relative;
    top: 75px;
    border: 3px solid #987a7a;
  }
  label{
    font-size: 16px;
    float: left;
    padding-left: 20px;
    
    
  }
  input{
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0 10px 0 ;
    box-sizing: border-box;
    border-radius: 7px;
    border-width:thin;
  }
  
  ::selection{
    background-color: #ab4646;
    
  }
  .homeo-details{
    height: 205px;
    width: 100%;
    background-color: #e2cdd5;
    text-align: center;
  }
  section{
    font-weight: bold;
    font-size: 40px;
  }
  .homeopath-container1{
    width:50%;
    height: 500px;
    float: left;
    background-color: #cb636389;

  }
  .homeopath-container2{
    width:50%;
    height: 500px;
    float: right;
    background-color: #cb8484;
    background-image: url(images/462335-homeopathy.webp);
    background-size: cover;

  }
  .quotes
  {
    font-size: 39px;
    color: #ddd;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    padding-top: 65px;
}
h2.a{
  text-align: center;
  font-size: 40px;
}
p.a{
  font-size: 20px;
}
select{
  width: 100%;
  padding: 10px 15px;
  margin: 10px 0 10px 0;
  box-sizing: border-box;
  border-radius: 7px;
  border-width: thin;
}

.aboutus-main-body{
  
  height: 800px;
  width: 100%;
  
}
.main-body-header{
  height: 1px;
    width: 100%;
    background-color: #e8c4c4;
    text-align: center;
    line-height: 0.4;
    padding-top: 59px;
    font-size: 25px;
    font-style: italic;
    color: white;
    font-family: fangsong;
    padding-top: 49px;
  }

  .about-inner-container1{
    width: 100%;
    height: 540px;
    background-color: #f8e6e6
}
#quotes{
  color: #366696;
  height: 20px;
  width: 200px;
  float: right;

}
#header1{
  text-align: center;
  padding-top: 20px;

}

.about-para{
  float: right;
  background-color: #fff;
  height: 400px;
  width: 700px;
  border: 1px solid;

}
.about-para1
{
  /*text-align: center;
  
  padding-left: 32px; */
  font-size: 25px;
  padding: 25px 80px 25px 80px;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 1px;
  font-family: ui-sans-serif;

}
#header2{
  text-align: right;
  font-family: cursive;
  margin-right: 66px;
}
.about-myself{
  height: 400px;
  width: 100%;
 
}

 #about-myself-1{
  height: 200px;
  float: left;
  width: 30%;
 }
 #about-myself-2{
  height: 280px;
  width: 70%;
 
  float: right;
  
 }
 